body {
    background-color: lightgray;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear::after {
    content: "";
    clear: both;
    display: block;
}

#header {
    background-color: lightblue;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    /* bottom: 0px; */
    z-index: 1;
}
img {
    width: 100%;
}
#content {
    margin-top: 120px;
}
#content .sidebar_1 {
    width: 20%;
    padding: 10px;
    background-color: #fff;
    position: fixed;
    height: 70%;
    overflow-y: scroll;
}
#content .sidebar_1 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#content .sidebar_1 ul li {
    text-align: center;
    padding: 10px 0px;
    background-color: lightskyblue;
    margin-bottom: 2px;
}
#content .main {
    width: 50%;
    margin-left: 24.5%;
    background-color: #fff;
    padding: 10px;
    /* position: relative; */
}
#content .main .image {
    position: relative;
}
#content .main .desc {
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
}
#content .sidebar_2 {
    width: 20%;
    padding: 10px;
    background-color: #fff;
}