#cube {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transform-style: preserve-3d;
    animation: cube 10s infinite linear;
}
#cube > div {
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    color: #fff;
    font-size: 50px;
}

@keyframes cube {
    0% {
        transform: rotate3d(0,0,0,0deg);
    }
    100% {
        transform: rotate3d(1,1,1,360deg);
    }
}

#left {
    transform: rotateY(90deg);
    transform-origin: left;
}

#right {
    transform: rotateY(-90deg);
    transform-origin: right;
}

#top {
    transform: rotateX(-90deg);
    transform-origin: top;
}

#bottom {
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#back {
    transform: translateZ(-300px);
}
